# Gradle
.gradle/
build/
**/build/

# IntelliJ / IDEA
.idea/
.vscode/

# CockroachDB local data
cockroachdb/data/

# HashiCorp Vault local file storage (persistent dev)
vault/file-data/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Frontend (erp-portal)
erp-portal/node_modules/
erp-portal/dist/
